.box{
  height: 800px;
  width: 800px;
  border: none;
  display:flex;
  flex-direction: column;
  padding: 40px;
  justify-content: space-between;
  background-color: rgb(18, 79, 129);
  }
  .box1
  {
  position: relative;
  height: 300px;
  width: 800px;
  background-color: #a5a89c;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: none;
  }
  .onebox1
  {
  height: 300px;
  width: 400px;
  border: none;
  }
  .twobox1
  {
  height: 300px;
  width: 400px; 
  border:none; 
  }
  .content
  {
  height: 50px;
  width: 50px; 
  }
  .box2
  {
  margin-top: 20px;
  height: 450px;
  width: 800px;
  background-color: #a5a89c; 
  display: flex; 
  justify-content: space-around;
  padding: 10px;
  border: none;
  }
  .in1
  {
  height: 450px;
  width: 250px;
  background-color:#e49a3a;
  border: 2px solid black;
  }
  #bar
  {
  position: relative;
  height: 100%;
  width: 0%;
  background-color: #0000ff;
  }
  .in2
  {
  height: 420px;
  width: 400px;
  background-color: #82a910;
  border: 2px solid black;
  border-radius: 50%;
  }
  #pie
  {
  position: relative;
  height: 100%;
  width: 0%;
  background-color: #ce9822;
  }
  .highlight{
  position: absolute;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  justify-content: center;
  top: 45%;
  }
  ::placeholder{
  color: black;
  text-align: center;
  }
  .text{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: large;
  display: block;
  margin-left: 35px;
  margin-top: 10px;
  }
  .input{
  width: 250px;
  height: 35px;
  font-size: medium;
  background-color: rgb(116, 116, 238);
  margin-left: 35px;
  margin-top: 10px;
  border: none;
  }
  #button{
  width: 250px;
  height: 40px;
  margin-left: 35px;
  border: none;
  color: black;
  background-color: rgb(215, 232, 29);
  margin-top: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: large;
  }